.border-radius {
  border: blue groove 12px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.background-img {
  height: 240px;
  width: 240px;
  background-image: url(images/abstract.jpeg);
  padding: 50px;
  background-clip: padding-box;
  position: relative;
  padding: 50px;
}

.wrap {
  width: 200px;
  overflow-wrap: break-word;
  background: darkgreen;
  color: orange;
}

.gradient {
  height: 200px;
  width: 200px;
  background-color: red;
  background: repeating-radial-gradient(rgba(255,255,255,0),red,black 30%);
  border-width: 20px;
  border-style: solid;
  border-image: linear-gradient(45deg,grey,black,red);
  border-image-slice: 1;
}

.transition {
  height: 200px;
  width: 200px;
  background: green;
  transition: background-color
}

.transition:hover {
  transform: rotate(900);
}

.transition:active {
  height: 400px;
  width: 400px;
}

.img-o {
  height: 200px;
  width: 200px;
  opacity: 1;
}

.img-o-half {
  height: 200px;
  width: 200px;
  opacity: .5;
}
.img-o-quart {
  height: 200px;
  width: 200px;
  opacity: .25;
}

.overflow {
  height: 100px;
  width: 100px;
  border: 3px solid black;
  overflow-y: scroll;
}

.blend {
  width: 200px;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(images/w3schools.png),linear-gradient(to right, blue 0%, white 100%);
}

.ani {
  height: 200px;
  width: 200px;
  background-color: black;
  position: relative;
  animation-name: ani;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  color: white;
}

@keyframes ani {
    0%   {background-color: black; left:0px;}
    50%  {background-color: red; left:100%;}
    100% {background-color: black; left:0px;}
}

.align1 {
  text-align: left;
}

.align2 {
  text-align: right;
}

.column {
  font-size: 20px;
  column-count: 2;
  column-gap: 40px;
  column-rule: 8px dotted;

}

.box {
  height: 200px;
  width: 200px;
  background-color: blue;
  box-shadow: 20px 20px 50px 20px black;


}

.resizeable {
  height: 200px;
  width: 200px;
  background-color: orange;
  overflow:auto;
  resize: both;
}

.stroke {
  font-size: 20px;
  text-stroke: 2px;
}

ul {
  list-style: armenian;

}

#ani {
  height: 200px;
  width: 200px;
  background-color: black;
  position: relative;
  animation-name: ani;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  color: white;
}

@keyframes ani {
    0%   {background-color: black; left:0px;}
    50%  {background-color: red; left:100%;}
    100% {background-color: black; left:0px;}
}
